/* ------------------ GENERALES ------------------ */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f4f4f9;
}

/* ------------------ LOGIN + REGISTRO ------------------ */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#formLogin,
#formRegistro {
  display: none; 
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  background: white;
  width: 320px;
  box-sizing: border-box;
}

#formLogin h2,
#formRegistro h2 {
  margin: 0;
  text-align: center;
  color: #cc0000;
}

#formLogin input,
#formRegistro input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#formLogin button,
#formRegistro button {
  background: #cc0000;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#formLogin button:hover,
#formRegistro button:hover {
  background: #990000;
}

#formLogin p,
#formRegistro p {
  text-align: center;
  margin: 0;
}

#formLogin a,
#formRegistro a {
  color: #cc0000;
  text-decoration: none;
}

#formLogin a:hover,
#formRegistro a:hover {
  text-decoration: underline;
}

/* ------------------ HEADER ------------------ */
header {
  background-color: #cc0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header .logo {
  width: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* ------------------ BUSCADOR ------------------ */
.buscador {
  background: #333;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  margin:  1.5rem;
}

.buscador h2 {
  margin-top: 0;
  align-content: center;
}

.filtros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.buscador input,
.buscador select {
  width: 90%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.buscador button {
  background: orange;
  border: none;
  padding: 0.7rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.buscador button:hover {
  background: darkorange;
}

/* ------------------ RESULTADOS ------------------ */
.lista {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.resultados h2 {
  margin: 0px 10px 20px 10px;
}

#listaPokemons {
  margin: 0px 15px 0px 15px;
}

.pokemon-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 150px;
  text-align: center;
  background: white;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  border-color: #cc0000;
}

/* ------------------ FOOTER ------------------ */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
