/* ------------------ GENERALES ------------------ */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #333;
}

/* ------------------ INTRO ------------------ */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: url("imagenes/pokestop.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  transition: opacity 0.5s ease;
}

#intro h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff; 
  text-shadow: 
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000,
    0 0 80px #ff0000;
}

#intro p {
  font-size: 1.2rem;
  color: #ffffff; 
  text-shadow: 
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000,
    0 0 80px #ff0000;
}

#intro.hide {
  opacity: 0;
  pointer-events: none;
}

#contenido {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#contenido.active {
  display: block;
  opacity: 1;
}

/* ------------------ HEADER ------------------ */
header {
  background-color: #cc0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header .logo {
  width: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* ------------------ BUSCADOR ------------------ */
.buscador {
  background: #333;
  color: white;
  padding: 1rem;
  border-radius: 10px;

}

.buscador h2 {
  margin-top: 0;
}

.abrirFiltro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.abrirFiltro h5{
  text-align: center;
  margin: 0px;
}

.abrirFiltro img{
  width: 20px;
  height: 20px;
  margin: 0px;
}

.filtros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.buscador .busqueda label{
  display: block;
}

.buscador .busqueda input{
  width: 15%;
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.buscador select{
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.buscador button {
  background: orange;
  border: none;
  padding: 0.7rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.buscador button:hover {
  background: darkorange;
}

/* ------------------ RESULTADOS ------------------ */
.resultados{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin: 0px 15px 0px 15px;
}

.resultados h2{
  color: #333;
  margin: 0px 0px 15px 5px;
}

.lista {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.pokemon-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 150px;
  text-align: center;
  background: white;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  border-color: #cc0000;
}

/* ------------------ FOOTER ------------------ */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
