.busqueda-avanzada {
  margin-top: 10px;
}

/* ====== BOTÓN MOSTRAR/OCULTAR (ABAJO) ====== */
.abrirFiltro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  cursor: pointer;
  margin: 20px auto 0;

  h5 {
    margin: 0;
    font-size: 16px;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

/* ====== FORMULARIO ANIMADO ====== */
#formBusquedaAvanzada {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: scaleY(0.9);
  transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
}

#formBusquedaAvanzada.active {
  max-height: 2000px;
  opacity: 1;
  transform: scaleY(1);
}


.filtros {
  width: 100%;
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-template-rows: auto auto;
  column-gap: 250px;
  row-gap: 0px; 
  align-items: center;
  max-width: 1500px;       
  justify-content: center;
}

/* TIPOS ocupa toda la izquierda */
.filtroTipos {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-left: 100px;
  margin-top: -20px; /* sube los tipos para alinearlos con el título */
  text-align: center;
}

/* ALTURA arriba */
.filtroAltura {
  grid-column: 10px;
  grid-row: 40px;
  padding-left: 40px;
}

/* PESO abajo */
.filtroPeso {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 40px;
}

/* ====== TÍTULOS ====== */
.filtroTipos h4,
.filtroAltura h4,
.filtroPeso h4 {
  text-align: center;
  font-size: 24px;
  margin: 0 0 8px;
  color: white;
}

/* ====== TIPOS  ====== */
.tipos {
  display: grid;
  grid-template-columns: repeat(3, 100px);  
  gap: 16px;
  column-gap: 40px;                                  
  justify-content: center;                  
  margin-top: 10px;

  /* ======== FORMA DE CADA CUADRITO ======== */
  div {
    width: 100px;             
    height: 22px;             
    border: 1px solid #ddd;   
    border-radius: 5px;       
    display: flex;            
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;   
  }

  /* ======== ESTILO DEL TIPO ACTIVO ======== */
  .activo {
    transform: scale(1.05);                            
    border: 1px solid white;                           
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.4);  
  }
}


.agua,
.aguaCard {
  background: #6390f0;
  color: white;
}
.fuego,
.fuegoCard {
  background: #ee8130;
  color: white;
}
.planta,
.plantaCard {
  background: #7ac74c;
  color: white;
}
.electrico,
.electricoCard {
  background: #f7d02c;
  color: #333;
}
.tierra,
.tierraCard {
  background: #e2bf65;
  color: #333;
}
.roca,
.rocaCard {
  background: #b6a136;
  color: white;
}
.psiquico,
.psiquicoCard {
  background: #f95587;
  color: white;
}
.lucha,
.luchaCard {
  background: #c22e28;
  color: white;
}
.fantasma,
.fantasmaCard {
  background: #735797;
  color: white;
}
.hielo,
.hieloCard {
  background: #96d9d6;
  color: #333;
}
.veneno,
.venenoCard {
  background: #a33ea1;
  color: white;
}
.volador,
.voladorCard {
  background: #a98ff3;
  color: #333;
}
.normal,
.normalCard {
  background: #a8a77a;
  color: #333;
}
.dragon,
.dragonCard {
  background: #6f35fc;
  color: white;
}
.bicho,
.bichoCard {
  background: #a6b91a;
  color: #333;
}
.siniestro,
.siniestroCard {
  background: #705746;
  color: white;
}
.hada,
.hadaCard {
  background: #d685ad;
  color: #333;
}
.acero,
.aceroCard {
  background: #b7b7ce;
  color: #333;
}
/* ====== ALTURA / PESO (CUADRADOS MÁS JUNTOS) ====== */
.alturas,
.pesos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  div {
    width: 110px;
    height: 110px;  
    margin: 0 ;
    padding: 0;
  
    img {
      width: 75px;
      height: 75px;
    }
  }
}

/* ====== BOTONES ====== */
.botonesFiltro {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;

  button {
    background: #cc0000;
    border: none;
    padding: 10px 14px;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: #858585;
    }

    &:active {
      background: #8b8b8b;
      box-shadow: none; /* elimina brillo rojo */
    }
  }
}


