/* ***** CONTENEDOR GENERAL ***** */
#detallePokemon {
  width: 100%;
  min-height: 100vh;
  padding: 20px 40px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* ======================= BOTÓN VOLVER ======================= */
.btnVolver {
  background: #cc0000;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btnVolver:hover {
  background: #a30000;
}

/* ======== FLECHAS LATERALES ======== */
.flechaNav {
  position: absolute;
  top: 110%;                  /* ✅ MEDIA ALTURA REAL */
  transform: translateY(-50%); 
  background: #cc0000;
  color: #fff;
  border: none;
  width: 45px;               /* tamaño chico */
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.flechaIzquierda {
  left: 25px;                /* separada del borde */
}

.flechaDerecha {
  right: 25px;
}

.flechaNav:hover {
  background: #a00000;
}


/* CONTENEDOR CENTRAL */
.paginaPokemon {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* GRID PRINCIPAL EN 2x2 */
.detalleGrid {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 25px;
}

/* ***** TARJETAS ***** */
.detalleCard {
  background: #e9e9e9;
  border-radius: 12px;
  padding: 25px;
  border: 2px solid #dcdcdc;
}

/* Imagen + datos */
.detallePrincipal {
  display: flex;
  align-items: center;
  gap: 25px;
}

.detallePrincipal img {
  width: 240px;
}

/* Texto de info */
.detalleTexto {
  font-size: 20px;
  line-height: 1.6;
}

/* ===================== ESTADÍSTICAS  ===================== */

.stats {
  width: 100%;
  
  /* grilla exacta usada en tu referencia */
  display: grid;
  grid-template-columns: 140px 40px 1fr;
  grid-row-gap: 12px;

  align-items: center;
  justify-items: start;
}

/* Nombre del stat (HP:, Ataque:, etc.) */
.statLabel {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  width: 140px;
}

/* Valor numérico del stat */
.statValue {
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  text-align: left;
}

/* Contenedor de barra */
.statBarContainer {
  width: 100%;
}

/* Barra de progreso */
.statBar {
  height: 10px;
  background: #000;
  border-radius: 4px;
}


/* Descripción */
.descripcionTitulo {
  font-size: 26px;
  margin-bottom: 10px;
}

/* Evoluciones */
#detalleEvoluciones {
  display: flex;
  justify-content: center;
  gap: 25px;
}

#detalleEvoluciones img {
  width: 100px;
  border-radius: 50%;
  padding: 8px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s;
}

#detalleEvoluciones img:hover {
  transform: scale(1.1);
}
