/* ------------------ FUENTE GLOBAL ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/* ------------------ GENERALES ------------------ */

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 0;
  background: #333;
}

html,
body {
  overflow-x: hidden;
}

/* ------------------ INTRO ------------------ */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: url("/imagenes/pokestop.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  transition: opacity 0.5s ease;
}

#intro h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
    0 0 40px #ff0000, 0 0 80px #ff0000;
}

#intro p {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
    0 0 40px #ff0000, 0 0 80px #ff0000;
}

#intro.hide {
  opacity: 0;
  pointer-events: none;
}

/* ------------------ CONTENIDO ------------------ */

#contenido {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#contenido.active {
  display: block;
  opacity: 1;
}

/* ------------------ HEADER ------------------ */

.logoPrincipal {
  display: flex;
  padding: 0.7rem;
  margin-bottom: 10px;
  background-color: red;
  min-height: 100px;
  color: white;
  align-items: center;
  justify-content: center;
}

.logoPrincipal img {
  width: 200px;
}

/* ------------------ RESULTADOS ------------------ */

#resultadosPokedex {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 0px 15px 0px 15px;
}

.lista {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* ------------------ FOOTER ------------------ */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
