/* ========== GLOBALES / RESET LIGERO ========== */
body {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background: #333;
}

html,
body {
  overflow-x: hidden;
}

/* Footer global */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
